<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey guys and gals,
    <br/>
    <br/>
    On nights like tonight, when I’m sitting here hammering away on code, it really makes my day to see my phone light up with a tagSurf share from one of you. So much so that I feel like stopping to tell each and every one of you: I’m so thankful you’re a tagSurf user. You are the life blood that keeps us going. Every time you open the app and swipe through content, bumping cards to your friends as you go, you’re helping to keep tagSurf alive.
    <br/>
    <br/>
    We’ve got some great app updates coming your way. Late last week I pushed an update so that our Facebook login button is now a seamless experience for iOS users. We were seeing soo many people not remember their Facebook password when creating an account… we knew we had to fix that. This update was so important that I sent a personal email to Tim Cook (CEO of Apple) asking him to approve this update ASAP and… it worked! Apple approved our update in just 2 days. (Normally takes more than a week). Now it’s almost too easy for your iPhone friends to create a tagSurf account. :) 
    <br/>
    <br/>
    We’ve got another version pending approval that will make it much easier to get back to our app from tagSurf links shared on Facebook, and make it super easy to share cards via text message or on Facebook Messenger. Stay tuned for these awesome updates and, as always, let me know if you have any ideas to improve the app. Several people have been asking me for the ability to make groups so they can easily share with multiple people at once. I’m planning to jump on that as soon as I'm finished tackling a much harder problem: helping you find people you already know on tagSurf. 
    <br/>
    <br/>
    Again, thanks so much for being a tagSurf user. You’re awesome and we love you. 
    <br/>
    <br/>
    My username is Eagle_d. Please share anything you like with me. I’m never offended, and I’ll give you bumps for the things I really like too.
    <br/>
    <br/>
    Surf on!
    <br/>
    Paul Lacey, CEO - tagSurf
  </p>
    
  </body>
</html>