<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>
          <h1>Hi @<%= @username %>,</h1>
        </td>
        <td align="right">
          <a href="http://tagsurf.co">
            <img width="75px" src="http://assets.tagsurf.co/img/ts_logo_stacked_gray.png"/>
          </a>
        </td>
      </tr>
    </table>
    <p>Yesterday we discovered a bug in tagSurf that was preventing a lot of bumps from being stored on our servers. I pushed a fix around 7pm PST yesterday afternoon... but many of the bumps you sent before then may not have been saved.
    <br/>
    <br/>
    The bug was preventing more than one bump back for each share, so shares with more than one person could only be successfully bumped by the first person to see them. If you lost bumps from your friends because of this, I'm very sorry. Just know that you're probably more popular on tagSurf than you thought. ;)
    <br/>
    <br/>
    Thanks for bearing with us as we work through these issues. If you have any other problems with the beta, please email us at beta@tagsurf.co. 
    <br/>
    <br/>
    Surf on!
    <h3>Paul (@eagle_d)
    <br/>
    CEO - tagsurf</h3>
    </p>
  </body>
</html>