<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <img src="http://i.imgur.com/kVHufyC.png" style="width:80%; margin-left:10%;">
    <br/>
    <p>Hey surfers,
    <br/>
    <br/>
    Today tagSurf officially becomes a social network. From now on, you'll be able to approve who's allowed to bump things into your surf by accepting or declining friend requests from people you know.
    <br/>
    <br/>
    Next time you login you may see your buddies list much shorter than usual. From now on, the only people who will show up in this list will be your accepted friends. Friend requests will arrive as cards in your feed that you can swipe on, and you can search for and request friends based on usernames. Our friends on iOS will also be able to link their phone's address book to find and invite their friends, just like Snapchat!
    <br/>
    <br/>
    We've also turned off notification emails after your first three shares, so tagSurf will no longer be blowing up your inbox with reminders of how popular you are online. I'm working on reducing the number of push notifications as well, so look forward to some great updates there by the end of the week.
    <br/>
    <br/>
    I know some of you have already been very active bumping things and making friends with strangers... so for you guys I've added an easter egg that puts anyone you've previously shared with into your buddies list as well.
    <br/>
    <br/>
    Frank and I love to connect with our users, so send us friend requests and we'll share some lolz. Frank is <b>@frankthetank</b> and I'm <b>@eagle_d</b>.
    <br/>
    <br/>
    Keep bumpin!
    <br/>
    Paul Lacey, CEO - tagSurf
  </p>
    
  </body>
</html>