<% content_for :title do %>
  <title>tagSurf</title>
<% end %>

<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/login.css">
<% end %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:role => 'form'} ) do |f| %>
  <center>
   <div class="tslogo"></div>
   <%= f.email_field :email, :placeholder => 'email', :class => 'ts-input' %>
   <%= f.password_field :password, :placeholder => 'password', :class => 'ts-input' %>
  </center>
  <div class="ts-submit-bar">
   <div class="ts-submit-btn">
    <div class="border-trim">
     <%= f.submit "login", id: "ts-login-btn" %> 
    </div>
   </div>
   <div class="ts-submit-btn">
    <a class="ts-signup-btn" href="/users/sign_up">sign up</a>
   </div>
  </div>
<% end %>
