<% content_for :title do %>
  <title>tagSurf</title>
<% end %>

<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/login.css">
<% end %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:role => 'form'} ) do |f| %>
  <center>
   <div class="tslogo"></div>
   <div class="input-border-container" style="margin-bottom:10px;"><%= f.email_field :email, :placeholder => 'email', :class => 'ts-input' %></div>
   <div class="input-border-container"><%= f.password_field :password, :placeholder => 'password', :class => 'ts-input' %></div>
  </center>
  <div class="ts-submit-bar">
   <div class="ts-submit-left border-trim">
    <%= f.submit "login", id: "ts-login-btn" %> 
   </div>
   <div class="ts-submit-right">
    <a class="ts-signup-btn" href="/code">sign up</a>
   </div>
  </div>
<% end %>
<a class="forgot-password twelve light-gray">Forgot password?</a>
<script src="/js/util.js"></script>
<script>
var inputs = document.getElementsByClassName("ts-input");
inputs[0].onfocus = function () { toggleClass.apply(inputs[0].parentNode, ["focused"]); };
inputs[0].onblur = function () { toggleClass.apply(inputs[0].parentNode, ["focused"]); };
inputs[1].onfocus = function () { toggleClass.apply(inputs[1].parentNode, ["focused"]); };
inputs[1].onblur = function () { toggleClass.apply(inputs[1].parentNode, ["focused"]); };
</script>
