<% content_for :title do %>
  <title>tagSurf</title>
<% end %>

<% content_for :stylesheets do %>
  <link rel="icon" type="image/x-icon" href="img/favicon.ico"/>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/login.css">
<% end %>

<% content_for :javascripts do %>
  <script src="/js/login.js"></script>
<% end %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:role => 'form'} ) do |f| %>
  <center>
   <img id="tslogo" src="/img/ts_logo_stacked_gray.jpg"></img>
   <%= f.email_field :email, :placeholder => 'email', :class => 'ts-input' %>
   <%= f.password_field :password, :placeholder => 'password', :class => 'ts-input' %>
  </center>
  <div class="ts-submit-bar">
   <div class="ts-submit-btn">
    <div class="border-trim">
     <%= f.submit "Log in", id: "ts-login-btn" %> 
    </div>
   </div>
   <div class="ts-submit-btn">
    <a class="ts-signup-btn" href="/users/sign_up">sign up</a>
   </div>
  </div>
<% end %>
