html,
body
{
	background-color: white;
	color: black;
}

#resend_link {
	font-size: 160%;
	font-weight: bold;
	color: white;
	background: #1dafec;
	padding: 10px 20px;
	border-radius: 30px;
	white-space: nowrap;
}

.bottom {
	width: 100%;
	position: absolute;
	bottom: 50px;
	text-align: center;
}

.logobar img {
	height: 50px;
	margin-bottom: 40px;
}

.midpad {
	font-size: 140%;
	padding: 10px 50px;
	text-align: center;
}