html, body
{
  background-color: #494949;
  width: 100%;
  height: auto;
  overflow-x: none;
}
#scroll-container
{
  top: 50px;
  overflow: auto;
  position: absolute;
  width:100%; 
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -webkit-transition: opacity 500ms ease-in-out;
}
#input-container
{
  text-align: center;
  width: 275px;
  height: 29px;
  padding: 0 11px;
  margin: 6px auto;
  overflow: hidden;
}
#static-icon
{
  display: inline;
  position: relative;
  left: 4px;
  font-weight: bold;
  background: #6a6a6a;
  padding: 7px 0 0 14px;
  border: 0px;
  height: 29px;
  width: 27px;
  float: left;
  -moz-border-bottom-left-radius: 50px;
  -moz-border-bottom-top-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -webkit-border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}
#static-hash
{
  top: -3px;
  left: 1px;
  position: relative;
  font-size: 18px;
  font-family: Raleway, sans-serif;
}
#static-trending
{
  width: 16px;
  margin-left: -5px;
}
#tag-input
{
  -webkit-appearance: none;
  z-index: 2;
  color: white;
  font-weight: 100;
  float: left;
  display: inline;
  position: relative;
  color: white;
  font-weight: 100;
  float: left;
  display: inline;
  position: relative;
  top: -2px;
  left: 4px;
  margin:0;
  border: 2px solid #494949;
  border-left: none;
  padding: 7px 5px 7px 5px;
  font-size: 120%;
  width: 180px;
  height: 33px;
  outline-width: 0;
  font-family: 'Raleway', sans-serif;
  background: #6a6a6a;
  -moz-border-bottom-top-radius: 50px;
  -moz-border-bottom-left-radius: 0px;
  -moz-border-bottom-bottom-radius: 0px;
  -moz-border-bottom-right-radius: 50px;
  -webkit-border-top-right-radius: 50px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-right-radius: 50px;
  -webkit-border-bottom-left-radius: 0px;
  border-top-right-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 0px;
}
#search-input
{
  position: relative;
  float: right;
  z-index: 1;
  display: inline;
  left: -4px;
  height: 29px;
  width: 46px;
  background-color: #00aeef;
  -webkit-border-top-right-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
#search-input img
{
  float: right;
  height: 20px;
  margin-top: 4px;
  margin-right: 11px;
}
#autocomplete
{
  z-index: 4;
  position: absolute;
  top: 90px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 200px;
  height: 0px;
  border-radius: 8px;
  color: black;
  background: white;
  text-align: left;
  overflow-y: scroll;
  -webkit-transition: height 300ms ease-out;
}
#autocomplete div
{
  padding: 5px;
}
.autocomplete-open
{
  height: 150px !important;
}

.card-wrapper
{
  -webkit-user-select: none;
  position: absolute;
  width: 100%;
}

.card-container
{
  position: relative;
  overflow: hidden;
  height: auto;
  width: 95%;
  margin: 0 2.5% 2.5% 2.5%;
  padding: 5px;
  background: #353535;
  border: 2px solid #353535;
  border-radius: 10px;
  box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.7);
}

.login-card {
  background: #00aeef;
  text-align: center;
}

.login-card img {
  width: 50px;
  margin: 15px;
}

.swiping
{
  -webkit-transition: -webkit-transform 250ms ease-in;
  -moz-transition: -moz-transform 250ms ease-in;
  transition: transform 250ms ease-in;
}

.center-label
{
  text-align: center;
  padding-top: 30%;
}

.super_card
{

  animation: white_background_flash 0.5s 2;
  -webkit-animation: white_background_flash 0.5s 2;
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
}

.super_card .super_label
{
  display: block;
  animation: fade-in 0.5s;
  -webkit-animation: fade-in 0.5s;
}
.super_label
{
  position: absolute;
  top: 50px;
  width: 100%;
  display: none;
  z-index: 2;
  font-family: Raleway, sans-serif;
  font-size: 42px;
  text-align: center;
  background: rgba(255,255,255,.8);
  color: black;
}

@-webkit-keyframes fade-in
{
  from	{opacity: 0}
  to	{opacity: 1.0;}
}
@keyframes white_background_flash
{
  from	{opacity: 0}
  to	{opacity: 1.0;}
}
@-webkit-keyframes white_background_flash
{
  from	{background: #353535;}
  to	{background: white;}
}
@keyframes white_background_flash
{
  from	{background: #353535;}
  to	{background: white;}
}

.image-container
{
  overflow-y: hidden;
  pointer-events: none;
  -webkit-overflow-scrolling: none;
  margin-bottom: 8px;
}

.image-container img
{
  border-radius: 5px;
  height: auto;
  -webkit-overflow-scrolling: none;
}

.text-container
{
  margin: 2.5%;
  padding: 0 10%;
  text-align: center;
  font-size: 14px;
}

#slider
{
  overflow: hidden;
}

.noinput
{
  margin-top: 41px;
}

.expand-animation
{
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
}

.hider
{
  visibility: hidden;
}
.expand-button
{
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
}
.expanded
{
  max-height: 9999px !important;
}
.icon-line {
  /*margin-top: 8px;*/
}
.source-icon {
  display: block;
  float: right;
  height: 24px;
  margin-top: -3px;
  margin-right: 5px;
}
.tag-callout {
  border: 1px solid #00aeef;
  border-radius: 5px;
  padding: 3px;
}
.tag-callout img {
  height: 15px;
  position: relative;
  top: 3px;
}
.active-tag-callout
{
  background-color: #00aeef;
  color: #404041;
}
.active-pictag
{
  color: #404041;
  background-color: #00719C !important;
}

#thumb-vote-container
{
  pointer-events: none;
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 2;
}

.thumb_up
{
  display: inline;
  opacity: 0;
  width: 40%;
  margin: 0 10px;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}
.thumb_down
{
  display: inline;
  opacity: 0;
  width: 40%;
  position: relative;
  top: 55px;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  float: right;
  margin-right: 20px;
}
#reminder_container
{
  visibility: hidden;
  z-index: -1;
  position: absolute;
  overflow-x: scroll;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .8);
  opactiy: 0;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}
#reminder_left
{
	position: relative;
	display: inline;
	width: 34%;
	float: left;
	margin-left: 5%;
	top: 15px;
	top: 19%;
}
#reminder_right
{
	position: relative;
	display: inline;
	width: 25%;
	float: right;
	margin-right: 5%;
	top: 20%;
}
