html, body
{
  background-color: #494949;
  width: 100%;
  height: auto;
  overflow-x: none;
}
#input-container
{
  text-align: center;
  width: 209px;
  height: 29px;
  margin: 6px auto;
}
#static-icon
{
  display: inline;
  font-weight: bold;
  background: #6a6a6a;
  padding: 7px 0 0 14px;
  border: 0px;
  height: 29px;
  width: 27px;
  float: left;
  -moz-border-bottom-left-radius: 50px;
  -moz-border-bottom-top-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -webkit-border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}
#static-hash
{
  top: -3px;
  left: 1px;
  position: relative;
  font-size: 18px;
  font-family: Raleway, sans-serif;
}
#static-trending
{
  width: 16px;
  margin-left: -5px;
}
#tag-input
{
  color: white;
  font-weight: 200;
  float: left;
  display: inline;
  margin:0;
  border: 0px;
  padding: 7px 5px 7px 5px;
  font-size: 16px;
  width: 180px;
  height: 29px;
  outline-width: 0;
  font-family: 'Raleway', sans-serif;
  background: #6a6a6a;
  -moz-border-bottom-top-radius: 50px;
  -moz-border-bottom-left-radius: 0px;
  -moz-border-bottom-bottom-radius: 0px;
  -moz-border-bottom-right-radius: 50px;
  -webkit-border-top-right-radius: 50px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-right-radius: 50px;
  -webkit-border-bottom-left-radius: 0px;
  border-top-right-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 0px;
}

#autocomplete
{
  z-index: 4;
  position: absolute;
  top: 90px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 200px;
  height: 0px;
  border-radius: 8px;
  color: black;
  background: white;
  text-align: left;
  overflow-y: scroll;
  -webkit-transition: height 300ms ease-out;
}
#autocomplete div
{
  padding: 5px;
}
.autocomplete-open
{
  height: 150px !important;
}

.card-wrapper
{
  -webkit-user-select: none;
  position: absolute;
  width: 100%;
}

.card-container
{
  position: relative;
  overflow: hidden;
  height: auto;
  width: 95%;
  margin: 0 2.5% 2.5% 2.5%;
  padding: 5px;
  background: #353535;
  border: 2px solid #353535;
  border-radius: 10px;
  box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.7);
}

.swiping
{
  -webkit-transition: -webkit-transform 250ms ease-in;
  -moz-transition: -moz-transform 250ms ease-in;
  transition: transform 250ms ease-in;
}

.center-label
{
  text-align: center;
  padding-top: 30%;
}

.super_card
{

  animation: white_background_flash 0.5s 2;
  -webkit-animation: white_background_flash 0.5s 2;
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
}

.super_card .super_label
{
  display: block;
  animation: fade-in 0.5s;
  -webkit-animation: fade-in 0.5s;
}
.super_label
{
  position: absolute;
  top: 50px;
  width: 100%;
  display: none;
  z-index: 2;
  font-family: Raleway, sans-serif;
  font-size: 42px;
  text-align: center;
  background: rgba(255,255,255,.8);
  color: black;
}

@-webkit-keyframes fade-in
{
  from	{opacity: 0}
  to	{opacity: 1.0;}
}
@keyframes white_background_flash
{
  from	{opacity: 0}
  to	{opacity: 1.0;}
}
@-webkit-keyframes white_background_flash
{
  from	{background: #353535;}
  to	{background: white;}
}
@keyframes white_background_flash
{
  from	{background: #353535;}
  to	{background: white;}
}

.image-container
{
  overflow-y: hidden;
  pointer-events: none;
  -webkit-overflow-scrolling: none;
}

.image-container img
{
  border-radius: 5px;
  height: auto;
  -webkit-overflow-scrolling: none;
}

.text-container
{
  margin: 2.5%;
  padding: 0 10%;
  text-align: center;
  font-size: 14px;
}

#slider
{
  overflow: hidden;
}

.noinput
{
  margin-top: 41px;
}

.expand-animation
{
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
}

.hider
{
  visibility: hidden;
}
.expand-button
{
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
}
.expanded
{
  max-height: 9999px !important;
}
.raw_wrapper
{
  
  display: inline;
  top: 0;
  position: absolute;
  width:100%; 
}
.raw_wrapper img
{
  pointer-events: none;
}
.zoom_wrapper,
#scroll-container
{
  top: 50px;
  overflow: auto;
  position: absolute;
  width:100%; 
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -webkit-transition: opacity 500ms ease-in-out;
}
.zoom_wrapper
{
  padding-top:20px;
}
.basic-zoom {
  z-index: 2;
  position: absolute;
  top: 100px;
  pointer-events: none;
}

.icon-line {
  margin-top: 5px;
}
.source-icon {
  display: block;
  float: right;
  height: 24px;
  margin-top: -3px;
  margin-right: 5px;
}
.tag-callout {
  font-size: 80%;
  border: 1px solid #00aeef;
  border-radius: 5px;
  padding: 3px;
}
.tag-callout img {
  height: 15px;
  position: relative;
  top: 3px;
}
.active-tag-callout
{
  background-color: #00aeef;
  color: #404041;
}
.active-pictag
{
  color: #404041;
  background-color: #00719C !important;
}
