.box {
	width: 30%;
	float: left;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 5px;
	margin: 1.5%;
	box-shadow: 3px 3px 5px 2px #1d1d1d;
}

.header {
	font-size: 140%;
	clear: both;
	text-align: center;
	padding-top: 10px;
}

.overlay {
	height: 10%;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

.tag {
	background: rgba(0,0,0,0.5);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.votes {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position: relative;
	bottom: 0px;
}

.yesvotes {
	background-color: green;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
}

.novotes {
	height: 100%;
	background-color: red;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
}

.votecount {
	position: relative;
}

.grid {
	overflow-x: hidden;
	overflow-y: auto;
}

#bigpic {
	display: block;
	width: 90%;
	margin: 10px auto;
	border-radius: 5px;
}

#history_slider {
	position: fixed;
	opacity: 0;
	overflow-y: auto;
	z-index: 2;
	top: 50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #404041;
	-webkit-transition: -webkit-transform 250ms ease-in-out;
}

.greenline {
	border: 1px solid green;
}
.redline {
	border: 1px solid red;
}