html, body {
	background: white;
}

.focused {
	border-color: #48a4df;
}

.ts-submit-bar {
	width: 100%;
	height: 44px;
	background: #1dafec;
	margin-top: 24px;
	padding: 4px 2%;
}

.ts-submit-left {
	float: left;
}

.ts-submit-right {
	width: 50%;
	float: left;
	position: relative;
	left: 25px;
}

.border-trim {
	overflow: hidden;
	width: 50%;
	height: 44px;
	position: relative;
	top: -4px;
}

#ts-login-btn {
	background-color: #1dafec;
	border-left: none;
	text-align: right;
	border: solid 12px white;
	color: white;
	font-size: 20pt;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	height: 68px;
	top: -12px;
	width: 110%;
	left: -10%;
	padding-right: 40px;
	position: relative;
	outline-width: 0;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-appearance: none;
}

.ts-signup-btn{
	color: inherit;
	font-size: 20pt;
	white-space: nowrap;
	position: relative;
	margin-right: 25px;
	color: white;
	top: 2px;
	left: -3px;
	text-decoration: none !important;
}

.ts-blue{
  color: #1dafec;
}
