html, body {
	background: white;
}

.alert-danger {
  background: red;
  margin-top: 10px;
  padding: 5px;
}

.alert-danger button {
  display: none;
}

.tslogo {
  display: block;
  background-image: url('/img/ts_logo_stacked_grey.png');
  background-image: -webkit-image-set( url('/img/ts_logo_stacked_gray.jpg') 1x, image-url('/img/ts_logo_stacked_gray2x.jpg') 2x);
  background-size: cover;
  width:210px;
  height:241px;
  margin:20px auto;
}

.ts-input {
	width: 215px;
	height: 34px;
	color: #000;
	margin: 1px;
	padding-left: 13px;
	border: solid thin transparent;
	font-size: 16px;
	background: #fff;
	outline-width: 0;
	-moz-border-radius: 50px / 50px;
	-webkit-border-radius: 50px / 50px;
	border-radius: 50px / 50px;
	transition: border-color 200ms;
	-webkit-background-clip: padding-box;
}
.input-border-container
{
	width: 218px;
	height: 37px;
	border: solid 1px black;
	border: solid 1px #000;
	-moz-border-radius: 50px / 50px;
	-webkit-border-radius: 50px / 50px;
	border-radius: 50px / 50px;
	-webkit-background-clip: padding-box;
}

.focused {
	border-color: #48a4df;
}

.ts-submit-bar {
	width: 100%;
	height: 44px;
	background: #1dafec;
	margin-top: 24px;
	padding: 4px 2%;
}

.ts-submit-left {
	float: left;
}

.ts-submit-right {
	width: 50%;
	float: left;
	position: relative;
	left: 25px;
}

.border-trim {
	overflow: hidden;
	width: 50%;
	height: 44px;
	position: relative;
	top: -4px;
}

#ts-login-btn {
	background-color: #1dafec;
	border-left: none;
	text-align: right;
	border: solid 12px white;
	color: white;
	font-size: 20pt;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	height: 68px;
	top: -12px;
	width: 110%;
	left: -10%;
	padding-right: 40px;
	position: relative;
	outline-width: 0;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-appearance: none;
}

.ts-signup-btn{
	color: inherit;
	font-size: 20pt;
	white-space: nowrap;
	position: relative;
	margin-right: 25px;
	color: white;
	top: 2px;
	left: -3px;
	text-decoration: none !important;
}

.ts-blue{
  color: #1dafec;
}
