#nav
{
  height: 50px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: white;
}
#navbar
{
  background-color: white;
  position: absolute;
  height: 50px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  z-index: 100;
}
#menu_slider
{
  position: absolute;
  width: 100%;
  padding: 0px;
  margin: 0px;
  z-index: 90;
}

#history-logo {
  display: none;
}

#add-btn
{
  position: relative;
  float:left;
  top: 7px;
  left: 10px;
}

#add-btn img
{ 
  width: auto;
  height: 30px;
}

#favorites-btn
{
  float:right;
  padding: 12px 10px 13px 10px;
}

.gallery_icon {
  width: auto;
  height: 20px;
  padding-right: 10px;
}

#navbar_label div
{
  padding-top: 8px;
}

#tagsurf-logo
{
  width: auto;
  height: 31px;
  margin: 0 auto;
}
#main-logo #tagsurf-logo
{
  position: relative;
  left: 7px;
}

#slider_label
{
}

#favorites-btn img
{
  width: auto;
  height: 25px;
}

.menu_icon
{
  width: 22px;
  height: auto;
}

.navbar-center
{
  text-align: center;
  font-size: 22px;
  padding-top: 11px;
  color: black;
  z-index: -1;
  position: absolute;
  width: 100%;
}

#slider-icon,
#slide_down_menu
{
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
}

#slide_down_menu
{
  width: 100%;
  position: absolute;
  top: -330px;
  left: 0px;
}

.vtop
{
  vertical-align: super !important;
  position: relative;
  left: 1px;
  top: -3px;
}
#slider-icon
{
  vertical-align: middle;
  position: relative;
  width: 13px;
}
.slid #slider-icon
{
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.opened_menu
{
  top: 50px !important;
}

#slide_down_menu ul
{
  width: 100%;
  padding: 0px;
  margin: 0px;
  list-style: none;
  list-style-type: none;
}
#slide_down_menu li:first-child
{
  border-top: 1px solid lightgray;
}
#slide_down_menu li
{
  width: 100%;
  padding: 0px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  font-size: 20px;
}
#slide_down_menu li div
{
  width: 200px;
  margin: auto;
  position: relative;
  left: 13px;
}
#slide_down_menu li.slide_active
{
  background-color: #1dafec;
}
