/* Global notification styles */
.alert{
  position: absolute;
  z-index:1000;
  width: 100%;
  padding: 5px 30px;
  background: #ff4800; 
  opacity: 0.9; 
  color: white; 
  font-weight:500; 
  font-size:14px; 
  top:0;
}

.flash{
  margin:10px 0 10px 0;
}

.shadow {
  -moz-box-shadow: 0.5px 0.866px 3px 0px rgb( 0, 0, 0 );
  -webkit-box-shadow: 0.5px 0.866px 3px 0px rgb( 0, 0, 0 ); 
  box-shadow: 0.5px 0.866px 3px 0px rgb( 0, 0, 0 ); 
}

.bottom-rounded{
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}


