* {
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
}

html,
body
{
	padding: 0;
	margin: 0;
	background-color: #404041;
	color: white;
	font-weight: 200;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	
	/* This was causing problems clipping popup modal windows */
	/*overflow: hidden;*/
}

html, input[type="submit"] {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}

a, img, input[type="submit"], .pointer {
	cursor: pointer;
}

a {
	color: black;
	text-decoration: none;
}

::-webkit-scrollbar { 
    display: none; 
}

.nowrap {
	white-space: nowrap;
}
.inline {
	display: inline-block;
}
.bold { 
	font-weight: bold;
}
.alert-success, .hidden {
	display: none !important;
}
.hider
{
	visibility: hidden;
}

.tcell {
	display: table-cell;
}

.delNode {
	border-left: 1px solid white;
}
.block {
	display: block;
}
.centered {
	text-align: center;
}

.float-left{
  float:left;
}

.float-right{
  float:right;
}

.smallpadded {
	padding: 3px 5px;
}

.midsize {
	font-size: 11pt;
	font-weight: 300;
}

.halfwidth {
	width: 50%;
}

.padded {
	padding: 10px;
}

.bigpadded {
	padding: 25px;
}

.nopad {
	padding: 0px !important;
}

.round {
	border-radius: 5px;
}

.twelve{
  font-size: 12px;
}

.smaller {
	font-size: 55%;
}

.small {
	font-size: 80%;
}

.normal{
  font-size: 100%;
}

.big {
	font-size: 120%;
}

.bigger {
	font-size: 140%;
}

.biggest {
	font-size: 160%;
}
.really-big {
	font-size: 240%;
}

.bold {
	font-weight: bold;
}

.blue {
	color: #00aeef;
}

.light-gray {
	color: #989898;
}

.pictags {
	text-align: center;
}

.pictags span {
	display: inline-block;
	background: #00aeef;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
	font-size: 80%;
}

.pictagcell {
	display: inline-block;
	background: #00aeef;
	border-radius: 5px;
	margin: 5px;
	cursor: pointer;
}

.blackout {
	pointer-events: none;
	z-index: 3;
	position: absolute;
	top: 50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0);
	-webkit-transition: background-color 666ms ease-in-out;
}

.throbber-back {
	pointer-events: none;
	z-index: 3;
	position: absolute;
	top: 50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #404041;
	-webkit-transition: background-color 666ms ease-in-out;
}

.blackfade {
	pointer-events: auto;
	background-color: rgba(0, 0, 0, 1);
}

.halffade {
	pointer-events: auto;
	background-color: rgba(0, 0, 0, 0.7);
}

.modal {
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 10;
	position: absolute;
	padding: 5px;
	top: 60px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	background: #2f2f2f;
	border-radius: 10px;
	box-shadow: 3px 3px 5px 2px #161617;
	-webkit-transition: -webkit-transform 250ms ease-in-out;
	-webkit-overflow-scrolling: auto;
}

.modalslide {
	-webkit-transform: translate3d(0, 0, 0) !important;
	-webkit-overflow-scrolling: touch;
}

.disabled {
	z-index: -5 !important;
	opacity: 0;
	-webkit-transition: none !important;
	pointer-events: none;
}

.tslogo {
  display: block;
  background-image: url('/img/ts_logo_stacked_gray.png');
  background-size: cover;
  width:210px;
  height:241px;
  margin:20px auto;
}

.input-border-container
{
	width: 218px;
	height: 37px;
	border: solid 1px black;
	border: solid 1px #000;
	-moz-border-radius: 50px / 50px;
	-webkit-border-radius: 50px / 50px;
	border-radius: 50px / 50px;
	-webkit-background-clip: padding-box;
}

.input-checkbox{
  margin:10px 0 0 0;
}


.ts-input {
	width: 215px;
	height: 34px;
	color: #000;
	line-height: 20px;
	margin: 1px;
	padding-left: 13px;
	border: solid thin transparent;
	font-size: 120%;
	font-weight:200;
	background: #fff;
	outline-width: 0;
	-moz-border-radius: 50px / 50px;
	-webkit-border-radius: 50px / 50px;
	border-radius: 50px / 50px;
	transition: border-color 200ms;
	-webkit-background-clip: padding-box;
}
.throbber
{
	height: 50px;
	pointer-events: none;
	opacity: 0;
	position: fixed;
	z-index: 4;
	-webkit-transition: opacity 500ms;
	transition: opacity 500ms;
}
.throbber-bottom
{
	bottom: 5px;
	height: 30px;
}
.raw-wrapper
{
  display: inline;
  top: 0;
  position: absolute;
  width:100%; 
}
.raw-wrapper img
{
  pointer-events: none;
}
.zoom-wrapper
{
  top: 50px;
  overflow: scroll;
  position: absolute;
  width:100%; 
  opacity: 0;
  padding-top:20px;
  background-color: rgba(0, 0, 0, 1);
  transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -webkit-transition: opacity 500ms ease-in-out;
}
.basic-zoom {
  z-index: 11;
  position: absolute;
  top: 100px;
  pointer-events: none;
}

#autocomplete
{
  top: 90px;
  left: 0px;
  right: 0px;
  width: 200px;
  border-radius: 8px;
  color: black;
}
#add_tag_autocomplete {
  top: 43px;
  left: 20px;
  padding: 0px 7px;
  border-radius: 4px;
  border: 1px solid #00aeef;
  color: #00aeef;
  font-weight: bold;
}
.autocomplete {
  z-index: 4;
  position: absolute;
  margin: auto;
  height: 0px;
  background: white;
  text-align: left;
  overflow-y: scroll;
  -webkit-transition: height 300ms ease-out;
}
.autocomplete div
{
  padding: 5px;
}
.autocomplete-open
{
  height: 150px !important;
}
.hardware-acceleration, .translate-z
{
   -webkit-backface-visibility: hidden;
   -webkit-perspective: 1000;
   backface-visibility: hidden;
   -webkit-transform-style: flat;
   perspective: 1000;
}
#share-button
{
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  opacity: 0;
  z-index: 15;
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 50px;
  padding: 10px;
  pointer-events: none;
}
#share-icon
{
  width: 30px;
}
.share-active
{
  opacity: 1 !important;
  pointer-events: initial !important;
}
.translate-z
{
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  backface-visibility: hidden;
  perspective: 1000;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}
.inverted
{
        -webkit-transform: scaleX(-1);
	        transform: scaleX(-1);

}
.ts-active-button
{
  color: #404041;
  background-color: #00719C !important;
}
.opaque
{
  opacity: 1 !important;
}

/* unauth prompt content */
.close-button-container,
.touch-expander
{
  float: right;
  clear: both;
  width: 30px;
  height: 30px;
  padding: 5px;
  z-index: 1;
}
.x-close-button
{
  width: 20px;
}
.prompt-title
{
  color: #00aeef;
  font-size: 20px;
  clear: both;
  margin: 0;
  position: relative;
}
.prompt-message
{
  display: inline-block;
  color: black;
  text-align: center;
  font-size: 16px;
}
.prompt-login-button
{
  display: inline-block;
  text-align: center;
  background: #00aeef;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.prompt-container
{
	text-align: center;
}
.modal-prompt > div
{
	display: block;
	text-align: center;
}
.modal-prompt
{
  opacity: 0;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  border: 1px solid #00aeef;
  z-index: 10;
  position: relative;
  width: 250px;
  padding: 5px;
  top: 50px;
  border-radius: 10px;
  -webkit-transition: opacity 250ms ease-in-out;
}
.bigplace::-webkit-input-placeholder {
	font-size: 100%;
	line-height: 25px;
	height: 20px;
	font-weight: 200;
}
#su-submit-btn
{
	font-size: 20px;
	font-family: 'Raleway', 'sans-serif';
	font-weight:200;
	color: white;
	background-color: #1dafec;
	letter-spacing: 1px;
	height: 45px;
	border: none;
	width: 160px;
	outline-width: 0;
	margin-bottom: 20px;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-appearance: none;
}
.signup-button {
	background-color: #404041 !important;
	margin-bottom: 10px !important;
	margin-top: 10px;
}
.su-input
{
	font-family: 'Raleway', 'sans-serif';
	width: 203px;
	height: 31px;
	color: #000;
	padding-left: 10px;
	line-height: 25px;
	border: solid thin transparent;
	font-size: 20px;
	font-weight: 200;
	background: #fff;
	outline-width: 0;
	-moz-border-radius: 50px / 50px;
	-webkit-border-radius: 50px / 50px;
	border-radius: 50px / 50px;
	transition: border-color 200ms;
	-webkit-background-clip: padding-box;
}
.su-input-container
{
	width: 225px;
	height: 37px;
	margin-top: 4px;
	margin-bottom: 10px;
	border: solid 1px grey;
	-moz-border-radius: 50px / 50px;
	-webkit-border-radius: 50px / 50px;
	border-radius: 50px / 50px;
	-webkit-background-clip: padding-box;
}

.light-bottom-margin{
  margin-bottom: 4px; 
}

.reminder-close
{
  position: absolute;
  width: 40px;
  bottom: 15px;
  right: 15px;
}
.big-lnk
{
	padding: 15px 0;
}

.wide-text
{
	display: inline-block;
}
.share-link-icon
{
	width: 33%;
	margin: 0 20px;
}
.share-heading-margin
{
	margin: 60px 0;
}
.center-label
{
  text-align: center;
  padding-top: 30%;
}
.tos-line{
	position: fixed;
	bottom: 10px;
	left: 0;
	right: 0;
	font-size: 80%;
}
.content 
{
  position: absolute;
  top: 40px;
  bottom: 70px;
  left: 0px;
  right: 0px;
  text-align: justify;
  overflow-y: scroll;
}
.content div {
  width: 85%;
  padding: 5px 0px;
  margin-left: auto;
  margin-right: auto;
}

.content ul {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  -webkit-padding-start: 15px;
}

.content ol {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  -webkit-padding-start: 15px;
}
.bottom 
{
  width: 100%;
  position: absolute;
  bottom: 12px;
  overflow: hidden;
}
.button 
{
  text-align: center;
  white-space: nowrap;
  font-weight: 200;
  color: white;
  background: #1dafec;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  overflow: hidden;
}
.forward 
{
  float: right;
  margin-right: -30px;
  padding-right: 40px;
  width: 180px;
}
.tos-title
{
  font-size: 120%;
  padding: 5px 10px 10px 15px;
}

/*This targets tablets and desktops*/
@media only screen and (min-width: 700px){
	#add_tag_autocomplete {
	  top: 47px;
	  left: 32%;
	  padding: 0px 7px;
	  font-size: 140%;
	}
	#share-button {
	  bottom: 10px;
	  right: 10px;
  	width: 80px;
	}
	#share-icon {
		width: 50px;
	}
	.share-link-icon
	{
		padding: 0 50px;
	}
	.zoom-wrapper {
		top: 40px;
	} 
	.midsize {
		font-size: 14pt;
	}
  .options-msg {
    font-size: 140%;
  }
  .tos-line {
	  font-size: 120%;
  }
}

