<div id="carousel">
  <ul>
    <li class="pane1"><h2>Swipe...</h2></li>
    <li class="pane2"><h2>...or drag...</h2></li>
    <li class="pane3"><h2>...or swipe...</h2></li>
    <li class="pane4"><h2>..or drag...</h2></li>
    <li class="pane5"><h2>Dit is het einde!</h2></li>
  </ul>
</div>
