<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/beta.css">
<div class="centered logobar">
 <img src="/img/ts_icon_grey_152.png">
 <img src="/img/logo.png">
</div>
<div class="small content">
 <div class="biggest">
  Welcome to tagSurf Private Beta.
 </div>
 <div>
  tagSurf is an app that lets you anonymously discover, rank and share social content by hashtags.
 </div>
 <div>
  You are signing up for a private beta version, which is still undergoing testing and development before its official public release.
 </div>
 <div>
  On the next page, you'll be asked to agree to a beta test agreement, which includes a non-disclosure agreement, before activating your account. CONFIDENTIALITY is very important during this stage of development, so please don't show or discuss tagSurf with ANYONE who's not a member of our beta program.
 </div>
 <div>
  During this beta, tagSurf is subject to change at any time without warning.
 </div>
 <div>
  New features may be added or existing ones removed at any time.
 </div>
 <div>
  The app may glitch during periods of heavy testing. If the app crashes while you're using it, hit the refresh button in your browser to reload the page. You may also need to occasionally close your browser tab and start a new session of tagSurf.
 </div>
 <div>
  We're working hard to support all browsers and platforms. At this time, tagSurf performs best in mobile Safari on an iPhone 5.
 </div>
 <div>
  Should you encounter bugs, glitches, lack of functionality or other problems with tagSurf, please tell us about it at <a class="blue" href="mailto:beta@tagSurf.co">beta@tagSurf.co</a>.
 </div>
 <div>
  Your feedback helps us make tagSurf better.
 </div>
 <div class="bigger bold blue">
  Surf on!
 </div>
</div>

<div class="bigger bottom">
  <a href="/terms" class="forward button">Continue</a>
  <a href="/" class="back button">No thanks</a>
</div>

<!--
<div class="bigger bottom">
  <div href="/terms" class="forward button">Continue</div>
  <div href="/" class="back button">No thanks</div>
</div>
-->
