<% content_for :title do %>
  <title>tagSurf - Favorites</title>
<% end %>

<%= javascript_include_tag "gallery_page" %>
<% content_for :javascripts do %>
  <script>
  	populateNavbar();
  	gallerize("favorites");
  </script>
<% end %>


<!-- Place body html below -->
<div id="nav"></div>
