<% content_for :title do %>
  <title>tagSurf - Feed</title>
<% end %>

<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/gallery.css">
  <link rel="stylesheet" href="/css/feed.css">
<% end %>

<% content_for :javascripts do %>
  <script src="/js/util.js"></script>
  <script src="/js/gallery.js"></script>
  <script src="/js/feed.js"></script>
<% end %>

<!-- Place body html below -->
<div id="nav"></div>
<div id="formatter" class="hider"></div>
<div id="input-container">
  <div id="static-hash">#</div>
  <input id="tag-input" type="text" placeholder="hot">
  <div id="autocomplete"></div>
</div>
<div id="history_slider" class="modal"><div id="grid"></div></div>
<div id="slider"></div>
