<% content_for :title do %>
  <title>tagSurf - History</title>
<% end %>

<%= stylesheet_link_tag "gallery_page", :media => "all" %>

<%= javascript_include_tag "gallery_page" %>

<% content_for :javascripts do %>
  <script>
  	populateNavbar();
  	gallerize("history");
  </script>
<% end %>


<!-- Place body html below -->
<div id="nav"></div>
