<center>
 <img id="tslogo" src="http://assets.tagsurf.co/img/ts_logo_stacked_gray.png"></img>
 <input id="email" class="ts-input" placeholder="email">
 <input id="password" class="ts-input" placeholder="password" type="password">
</center>
<div class="ts-submit-bar">
 <div class="ts-submit-btn">
  <div class="border-trim">
   <input id="ts-login-btn" type="submit" value="log in">
  </div>
 </div>
 <div class="ts-submit-btn">
  <a class="ts-signup-btn">sign up</a>
 </div>
</div>
