<%= stylesheet_link_tag "sessions", :media => "all" %>

<center>
	<div id='container'>
   <div class="tslogo"></div>
   <div class="ac-text-container">
		<p>Link or refresh your facebook account to load your profile pic</p>
   </div>
	 <a id='btn-lnk' href = '/users/auth/facebook'><div id='btn' class="button" style="max-width: 30%; margin-top: 20px; font-size: 120%; font-weight: 300;">Ok</div></a>
	 <a id='btn-lnk' href = '/'><div id='btn' class="button" style="max-width: 30%; margin-top: 20px; font-size: 120%; font-weight: 300;">Not Now</div></a>
	</div>
</center>