<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/beta.css">
<div class="centered">
 <img class="toplogo" src="http://assets.tagsurf.co/img/ts_logo_horiz_gray.png">
 <div class="bigger">
  <div class="midpad">
   Please verify your email account to complete your beta registration.
  </div>
  <div class="midpad">
   A verification link has been sent to:
  </div>
  <div class="midpad">
   <%= current_user.email %>
  </div>
 </div>
 <div class="biggest bottom">

  <%= form_for(User.new, :as => :user, :url => confirmation_path(:user), :html => { :method => :post }) do |f| %>
    <%= f.hidden_field :email, value: current_user.email %>
    <%= f.submit "Resend link", class: 'button' %>
  <% end %>

 </div>
</div>
