<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/beta.css">
<div class="centered">
 <div class="logobar">
  <img src="/img/ts_icon_grey_152.png">
  <img src="/img/logo.png">
 </div>
 <div class="bigger">
  <div class="midpad">
   Please verify your email account to complete your beta registration.
  </div>
  <div class="midpad">
   A verification link has been sent to:
  </div>
  <div class="midpad">
   email@domain.com
  </div>
 </div>
 <div class="biggest bottom">
  <span class="button">Resend Link</span>
 </div>
</div>