<center>
 <img id="tslogo" src="/img/ts_logo_stacked_gray.jpg"></img>
</center>

<div class="ts-terms-header">
  tagSurf is anonymous
</div>
<div class="ts-terms-body">
  blurg blah yadda ya!
</div>

<div class="ts-terms-header">
  Beta user Agreement
</div>

<div class="ts-terms-body">
  blurg blah yadda ya!
</div>


