<% content_for :title do %>
  <title>tagSurf - Submissions</title>
<% end %>

<div id="nav"></div>

<%= javascript_include_tag "gallerypage" %>

<% content_for :javascripts do %>
  <script>
    populateNavbar();
    gallerize("history");
    gallerize("submissions");
  </script>
<% end %>