<% content_for :title do %>
  <title>tagSurf - Submissions</title>
<% end %>

<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/gallery.css">
<% end %>

<% content_for :javascripts do %>
  <script src="/js/util.js"></script>
  <script src="/js/gallery.js"></script>
  <script>populateNavbar(); gallerize();</script>
<% end %>

<div id="nav"></div>
<div id="grid"></div>
