<% content_for :title do %>
  <title>tagSurf - Tag</title>
<% end %>

<!-- Place body html below -->
<div id="nav"></div>

<%= javascript_include_tag "gallery_page" %>

<% content_for :javascripts do %>
  <script>
    populateNavbar();
    gallerize("tag");
  </script>
<% end %>