<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/beta.css">
<div class="centered logobar">
 <img src="/img/ts_icon_grey_152.png">
 <img src="/img/logo.png">
</div>
<div class="small content">
 <div class="biggest">
  TAGSURF CORP. BETA TEST AGREEMENT
 </div>
 <div>
  Thank you for your interest in becoming a tagSurf beta tester. As part of the beta test, tagSurf will provide you with access to a beta version of the tagSurf Service ("Service") and related software ("Software") subject to the terms of this Beta Test Agreement ("Agreement"). By using the Service you agree to be bound by this Agreement and to use the Service and Software in compliance with this ...
 </div>
 <div>
  This Service and License Agreement is governed by the laws of the State of Delaware, excluding conflicts of law principles. Any legal actions against us must be commenced in the State of California within one year after the claim arose. You consent to the exclusive jurisdiction of the state and federal courts located in San Francisco County, California.
 </div>
 <div class="bold">
  Contacting tagSurf
 </div>
 <div>
  If you have any questions or concerns about this Service and License Agreement or the Service or Software, please send us a thorough description by email to beta@tagsurf.co.
 </div>
 <div class="bigger bold blue pointer" id="privacy-btn">
  PRIVACY POLICY &gt;
 </div>
 <div class="input-border-container nopad">
  <input class="ts-input" placeholder="email">
 </div>
</div>
<div class="bigger bottom">
 <div class="forward button">I agree</div>
 <div class="back button">Decline</div>
</div>
<div class="hidden"><div id="privacy">
 <div class="bigger bigpadded">
  TAGSURF PRIVACY POLICY
 </div>
 <div class="small content">
  <div>
   <i>
    Your privacy is critically important to us. At tagSurf we have a few fundamental principles:
   </i>
   <ul>
    <li>
     We don't ask you for personal information unless we truly need it.
    </li>
    <li>
     We don't share your personal information with anyone except to comply with the law, develop our products, or protect our rights. ...
    </li>
   </ul>
   <div>
    In the event that the modifications materially alter your rights or obligations hereunder, we will make reasonable efforts to notify you of the change. For example, we may send a message to your email address, if we have one on file, or generate a pop-up or similar notification the first time you visit a tagSurf website after such meterial changes are made. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.
   </div>
  </div>
  <div class="bold">
   Our Contact Information
  </div>
  <div>
   Please contact us with any questions or comments about this Policy, your personal information, our use and disclosure practices, or your consent choices by email at beta@tagsurf.co.
  </div>
  <div>
   PO Box XXXXX
   <br>
   San Francisco, CA 94133
  </div>
 </div>
 <div class="bigger bottom">
  <div class="forward button">Close</div>
 </div>
</div></div>
<script src="/js/util.js"></script>
<script src="/js/gesture.js"></script>
<script src="/js/modal.js"></script>
<script>
 var removePrivacy = function() {
  modal.backOff();
  modal.modalOut();
 };
 document.getElementById("privacy-btn").onclick = function() {
  modal.halfOn(removePrivacy);
  modal.modalIn(document.getElementById("privacy"), removePrivacy);
 };
</script>