<div id="nav"></div>
  <div id="formatter" class="hider"></div>
  <div id="input-container">
   <div id="static-hash">#</div>
   <input id="tag-input" type="text" placeholder="hot">
   <div id="autocomplete"></div>
  </div>
  <div id="slider">
  </div>
