<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @username %>!</h1>
    <p><%= @referrer_name %> has recommended this for you on tagSurf. Click on the card to login and check it out!</p>

    <div style="background-color: #353535; border: 2px solid #353535; border-radius: 10px; width: 70%; margin: auto; position: relative; padding: 5px; box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.7);">
      <img style="width: 95%;" src="<%= @media.image_link_original %>" />
    </div>

    <p>Surf on!</p>

    <p><a href="<%= @url %>"><h2>Unsubscribe</h2></a></p>
    
  </body>
</html>

