<%= render 'shared/authentication' %>
<br />

<% if current_user %>

  <div class="row clearfix">
    <div class="clearfix" id="swiper">
    </div>

    <div class="col-sm-4 fullscreen">
      <span class="expand-btn glyphicon glyphicon-chevron-down"></span>
    </div>
  </div>

<% end %>
