$navbar-default-bg: #1d7189;
$navbar-default-color: #ffffff;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

@import "bootstrap";

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a{
  color:#f7f4da;
  &:hover{
    color: #ffffff;
  }
}

.container {
  padding:0 0 0 0;
}

.row{
  padding: 0 15px;
}


ul { list-style-type: none; }

.img-thumb {
  width: 160px;
  height: 160px;
  overflow: hidden;
  display: block;
}

.left-btn {
  width: 80px;
  float:left;
}

.right-btn {
  width: 80px;
  float:right;
}
