@import "compass/css3/transition";

$navbar-default-bg: #1d7189;
$navbar-default-color: #ffffff;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

@import "bootstrap";

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a{
  color:#f7f4da;
  &:hover{
    color: #ffffff;
  }
}

.img-thumbnail {
  width:270px;
  height:270px;
}

.container {
  padding:0 0 0 0;
}

.row{
  padding: 0 15px;
}

.spaced{
  margin-bottom: 15px;
}

ul { list-style-type: none; }

.left-btn {
  width: 80px;
  float:left;
}

.right-btn {
  width: 80px;
  float:right;
}

#swiper img {
  pointer-events: none;
}

#swiper {
  position: relative;
  width: 500px;
  height: 500px;
}

#swiper img {
  width: 200px;
  height: 200px;
}

#swiper > div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @include transition-timing-function(ease-out);
  @include transition-duration(0.2s);
}
.current {
  z-index: 20;
}
.next {
  z-index: 10;
}

#swiper > div.moving {
  @include transition-duration(0s);
}
