/* Constants */

// Color pallete
$ts-blue: #1dafec; 
$ts-orange: #ed7d31; 
$ts-dark-orange: #Ef7c00; 
$ts-gray: #404041; 
$ts-dark-gray: #494949; 
$ts-light-gray: #6a6a6a; 
//$ts-dark-gray: #2f2f2f; 

$card-background: #353535;
// Fonts
$ts-raven:'Raleway', sans-serif;


// Layout constants
html, body{
  background-color:$ts-dark-gray;
  width:100%;  
  height: 100%;
  overflow:hidden; 
}

#mwa { 
  height:100%; 
  overflow:hidden;
  background: white;
}
