/* Forms */

@import "constants";

/* Authentication Overrides */
.ts-form-group{
  margin-bottom: 10px;
}

.ts-input {
  width: 215px;
  color: #000;
  margin: 3px auto;
  border: #000 solid thin;
  padding: 13px;
  font-size: 16px;
  font-family:'Raleway', sans-serif;
  background: #fff;
  -moz-border-radius: 50px / 50px;
  -webkit-border-radius: 50px / 50px;
  border-radius: 50px / 50px;
}

.tag-input-field{
  padding: 13px 13px 13px 26px;
}

#static-tag {
  position: absolute;
  top: 6px;
  left: 40px;
  font-size: 16px;
  font-family: Raleway, sans-serif;
}


.ts-submit-bar{
  width:100%;
  height: 44px;
  background: $ts-blue;
  margin-top:24px;
  padding:4px 25%;
}

.ts-submit-btn{
  font-family:'Raleway', sans-serif;
  width: 90px;
  float: left;
  
}

.background-image{
  background-image: image-url('ts_logo_stacked_white.jpg');
  width:220px;
  height:241px;
  margin:20px auto; 
}

/* Tag Form */
.tag-input{
  width:80%;
  margin:4px auto 10px;
  border-radius:2px; 
}


