/* Forms */

@import "constants";

/* Authentication Overrides */
.ts-form-group{
  margin-bottom: 10px;
}

.ts-input {
  width: 215px;
  color: #000;
  margin: 3px auto;
  border: #000 solid thin;
  padding: 13px;
  font-size: 16px;
  font-family:'Raleway', sans-serif;
  background: #fff;
  -moz-border-radius: 50px / 50px;
  -webkit-border-radius: 50px / 50px;
  border-radius: 50px / 50px;
}

.ts-form-control{
  width: 230px;
  margin: 3px auto;

  .tag-surf-input {
    width: 203px;
    color: white;
    border:0px;
    padding: 3px; 
    font-size: 16px;
    font-family:'Raleway', sans-serif;
    background: $ts-light-gray;
    // Todo move these into mixin
    -moz-border-bottom-top-radius: 50px;
    -moz-border-bottom-left-radius: 0px;
    -moz-border-bottom-bottom-radius: 0px;
    -moz-border-bottom-right-radius: 50px;
    -webkit-border-top-right-radius: 50px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-right-radius: 50px;
    -webkit-border-bottom-left-radius: 0px;
    border-top-right-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 0px;
  }

  .static-tag {
    background: $ts-light-gray;
    color: white;
    padding: 7px 5px 5px 17px;
    border:0px;
    font-size: 16px;
    width:27px;
    float:left;
    font-family: Raleway, sans-serif;
    -moz-border-bottom-left-radius: 50px;
    -moz-border-bottom-top-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -webkit-border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
  }
}


.ts-submit-bar{
  width:100%;
  height: 44px;
  background: $ts-blue;
  margin-top:24px;
  padding:4px 2%;
}

.ts-submit-btn{
  font-family:'Raleway', sans-serif;
  width: 120px;
  float: left;
  
}

.background-image{
  background-image: image-url('ts_logo_stacked_gray.jpg');
  background-image: -webkit-image-set( image-url('ts_logo_stacked_gray.jpg') 1x, image-url('ts_logo_stacked_gray2x.jpg') 2x); 
  width:210px;
  height:241px;
  margin:20px auto; 
}

/* Tag Form */
.tag-input{
  width:80%;
  margin:4px auto 10px;
  border-radius:2px; 
}

.ts-login-btn{
  background-color: #1dafec;
  border: none;
  color: white;
  font-size: 24px;
  border-right: 0.3em solid white;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top: 0.3em solid white;
  border-bottom: 0.3em solid white;
  height: 63px;
  top: -10px;
  width: 175px;
  left: -12px;
  position: relative;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.border-trim
{
  overflow: hidden;
  width: 165px;
  height: 44px;
  position: relative;
  top: -4px;
  left: -6px;
}

.ts-signup-btn{
  color: inherit;
  font-size: 24px;
  position: relative;
  margin-right: 35px;
  color: white;
  top: 2px;
  left: 75px;
  text-decoration: none !important;
}
.ts-signup-btn:hover{
  color:white;
}

.ts-front-btn{
}
.ts-front-btn-active{
  background-color: #48a4df;
  color: #404041;
}

/*
 * Webkit blue box-shadow on focus not sure yet how we will fix
 */
.ts-login-btn:focus, .ts-signup-btn:focus{
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder { /* Firefox 18- */
  color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
  color: white;  
}

:-ms-input-placeholder {  
  color: white;  
}
