@import "bootstrap";

@import "constants";
@import "forms";
@import "navigation";

// TODO Move to cards.css.scss
#swiper{
  min-height:300px;
  padding: 40px 10px;
  width:300px;
  margin: 0 0 0 15px;
  overflow:hidden;
}

.card-container{
  width: auto;
  margin:85px auto 0 0;
  height: 290px;
  background:#f4f3f4;
  border:#d8d8d8 thin solid;
  padding-bottom:3px;
  border-bottom-width: 1px;
  position:absolute;
  top:0;
  left: 10px;
  right: 10px;
  float:none;
  z-index:20;
  overflow-y:hidden;

  .img-container {
    margin: 4px auto;
    width: 280px;

    // Examples
    // Very tall image http://i.imgur.com/JAN3GYF.jpg
    // ... more to come 
    img {
      width: 280px;
      height: auto;
      margin: 8px auto;
    }
  }

  .txt-container{
    margin: 10px auto; 
    width: 280px;
    font-weight:400;
    min-height: 22px;
    overflow:hidden;
    font-size:14px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight:300;
    text-align:center;
   }
}

.partial { max-height: 260px; }

.full { 
  height:auto; 
  overflow:hidden;
}

.fullscreen{
  width:300px;
  margin: 0 auto !important;
  float: none !important;
  padding:15px 0;

  span.expand-btn{
    width:300px;
    background:#f4f3f4;
    border:#d8d8d8 thin solid;
    border-bottom-width: 2px;
    font-size:20px;
    text-align:center;
    padding:20px 0 10px 5px;
  }
}

#current{
  z-index:100;
}

#next{
  z-index:10;
  max-height:320px;
  overflow:hidden;
}

/* Global configuration */
.container {
  padding:0 0 0 0;
  min-height:528px;
}

.row{
  padding: 0 !important;
}

.spaced{
  margin-bottom: 15px;
}

ul { list-style-type: none; }


// TODO Move to buttons.css.scss
.left-btn {
  width: 80px;
  float:left;
}

.right-btn {
  width: 80px;
  float:right;
}

.ui-autocomplete {
  max-height: 160px;
  overflow-y: auto;
}
