$navbar-default-bg: #1d7189;
$navbar-default-color: #ffffff;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

@import "bootstrap";

$ts-blue: #1dafec;
$ts-orange: #ed7d31;
$ts-dark-orange: #Ef7c00;
$ts-gray: #404041;
$ts-dark-gray: #2f2f2f;

html, body{
  background:$ts-dark-gray;
  width:100%;  
  height: 100%;
  overflow:hidden; 
}

#mwa { height:100%; overflow:hidden; }

#history-btn{ 
  background: image-url('history.png');
  width:33px;
  height:33px;
  margin-top:8px;
  margin-left:13px;
}

.navbar{
  margin-bottom:10px;
  background:$ts-blue;
  border-top:0px;
  border-left:0px;
  border-right:0px;
  border-bottom: thin $ts-gray solid;
  border-radius:0px;
  z-index:300;
  position:relative;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a{
  color:$ts-gray;
  &:hover{
    color: #ffffff;
  }
}

.navbar-collapse{
  z-index:300;
  position:relative;
}

// TODO Move to cards.css.scss
#swiper{
  min-height:300px;
  padding: 40px 10px;
  width:300px;
  margin: 0 0 0 15px;
  overflow:hidden;
}

.card-container{
  width:300px;
  margin:65px auto 0 0;
  height: 290px;
  background:#f4f3f4;
  border:#d8d8d8 thin solid;
  border-bottom-width: 1px;
  position:absolute;
  top:0;
  float:none;
  min-height:340px;
  z-index:20;
  overflow-y:hidden;

  .img-container {
    margin: 4px auto;
    width: 280px;

    // Examples
    // Very tall image http://i.imgur.com/JAN3GYF.jpg
    // ... more to come 
    img {
      width: 280px;
      height: auto;
      margin: 8px auto;
    }
  }

  .txt-container{
    margin: 10px auto; 
    width: 280px;
    font-weight:400;
    min-height: 22px;
    overflow:hidden;
    font-size:14px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight:300;
    text-align:center;
   }
}

.partial { max-height: 280px; }

.full { 
  height:auto; 
  overflow:hidden;
}

.fullscreen{
  width:300px;
  margin: 0 auto !important;
  float: none !important;
  padding:15px 0;

  span.expand-btn{
    width:300px;
    background:#f4f3f4;
    border:#d8d8d8 thin solid;
    border-bottom-width: 2px;
    font-size:20px;
    text-align:center;
    padding:20px 0 10px 5px;
  }
}

#current{
  z-index:100;
}

#next{
  z-index:10;
  max-height:320px;
  overflow:hidden;
}

/* Global configuration */
.container {
  padding:0 0 0 0;
  min-height:528px;
}

.row{
  padding: 0 !important;
}

.spaced{
  margin-bottom: 15px;
}

ul { list-style-type: none; }


// TODO Move to buttons.css.scss
.left-btn {
  width: 80px;
  float:left;
}

.right-btn {
  width: 80px;
  float:right;
}
