html, body {
	background: white;
	opacity: 1;
	overflow: initial !important;
	position: initial !important;
}
.focused {
	border-color: #48a4df;
}
.hidden {
	display: none;
}
.ts-submit-bar {
	width: 100%;
	height: 44px;
	background: #1dafec;
	margin-top: 12px;
	padding: 4px 2%;
}
.ts-submit-left {
	float: left;
}
.ts-submit-right {
	width: 44%;
	float: left;
	position: relative;
	left: 25px;
}
.border-trim {
	overflow: hidden;
	width: 50%;
	height: 44px;
	position: relative;
	top: -4px;
}
#ts-login-btn {
	background-color: #1dafec;
	border-left: none;
	text-align: right;
	border: solid 12px white;
	color: white;
	font-size: 20pt;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	height: 68px;
	top: -12px;
	width: 110%;
	left: -10%;
	padding-right: 40px;
	position: relative;
	outline-width: 0;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-appearance: none;
}
.ts-signup-btn {
	color: inherit;
	font-size: 20pt;
	white-space: nowrap;
	position: relative;
	margin-right: 25px;
	color: white;
	top: 2px;
	left: -3px;
	text-decoration: none !important;
}
.ts-blue {
  color: #1dafec;
}
.forgot-password {
  display:block;
  width:100px;
  margin:20px auto;
  padding-bottom: 20px;
}
.link-to-login {
  display:block;
  width:210px;
  margin:-5px auto 10px;
  color:#272727;
  font-weight:500;
}
.registration-links-container {
  display:block;
  width:55px;
  margin:20px auto;
}
.regs-link {
  display:inline-block;
  margin-right: 12px;
}
.fb-login-btn {
	right: 0;
	left: 0;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	width: 225px;
}
#check-indicator {
	position: relative;
	left: 60%;
	top: -100%;
	font-size: 200%;
}
.available {
	color:#00a651;
}
.unavailable {
	color:#ff0000;
}
.code {
	border: 1px solid #2f2f2f;
	border-radius: 10px;
	height: 55px;
	width: 55px;
	font-size: 200%;
	text-align: center;
	margin-bottom: 10px;
}

/*===== This Targets Anything Above iPhone 5 ========*/
@media only screen and (min-width: 340px){
	.code {
		height: 60px;
		width: 60px;
	}
}
