/* Navigation styles */
@import 'constants';

.history-btn{ 
  background: image-url('history_icon_blue.png') no-repeat;
  background-size: contain;
  width:26px;
  height:26px;
  margin-top:13px;
  margin-left:11px;
}

.favorites-btn{
  float:right;
}

#navbar_label div {
  padding-top: 8px;
}

#tagsurf-logo {
  width: auto;
  height: 36px;
}

.favorites-btn img {
  width: auto;
  height: 26px;
}

.menu_icon {
  width: 22px;
  height: 22px;
}

.navbar{
  margin-bottom:0;
  background: #fff;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: thin lightgray solid;
  border-radius: 0px;
  z-index: 300;
  position: relative;
  min-height:38px;
  height:50px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a{
  color: $ts-gray;
  font-size:22px;
  //&:hover{
  //  color: #ffffff;
  //}
}

.navbar-center {
  text-align: center;
  font-size: 22px;
}

.navbar-brand{
  padding:10px;
}

.navbar-default .navbar-toggle {
  border-color: $ts-dark-gray;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $ts-dark-gray;
}

.navbar-collapse{
  z-index:300;
  position:relative;
}

/* Tag list in navigation */
// Might need to be moved to sections
.tag-list{
  background: #f8f8f8;
  padding:20px;
  margin-top:12px;
  border-top: #f0f0f0 solid thin;
  
  .tag-item{
    font-size: 18px;
    font-family: $ts-raven;
  }
}

#slider-icon,
#slide_down_menu,
{
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
}

#slide_down_menu
{
  width: 100%;
  position: fixed;
  height: 45%;
  bottom: 95%;
  z-index: 101;
}

.slid #slider-icon{
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

/*#slider_box:checked + #slide_down_menu
{
  bottom: 48%;
}*/
.opened_menu
{
  bottom: 48% !important;
}

#slide_down_menu ul
{
  padding: 0;
}
#slide_down_menu li
{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 21%;
  background-color: white;
  border-bottom: 1px solid lightgray;
  font-family: Raleway;
  font-size: 22px;
}
#slide_down_menu li.slide_active
{
  color: white;
  background-color: $ts-blue;
}

