/* Sections Styles */
@import 'constants';

// Internal layout
// Dumb hack because I don't to style based on routing atm
.internal{
  background:$ts-dark-gray;
}

/* History Container */
.history-container{
  position:absolute; 
  width: 100%;
  height: 100%;
  background: white;
}

