<!DOCTYPE html>
<html>
<head>
  <title>Tagsurf</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container" id="mwa">
    <%= yield %>


    <!--
    <% if notice %>
      <div class="col-sm-4">
        <p class="alert alert-success"><%#= notice %></p>
      </div>
    <% end %>

    <% if alert %>
      <div class="col-sm-4">
        <p class="alert alert-danger"><%#= alert %></p>
      </div>
    <% end %>
    -->


  </div>
</body>
</html>
