<p>Welcome to tagSurf Beta!</p>

<p>Please confirm your email by clicking the following link to activate your beta account:<p>

<p><%= link_to 'Confirm email', confirmation_url(@resource, :confirmation_token => @token) %></p>

<p>Questions? Contact us at <%= mail_to 'beta@tagsurf.co' %>

