<p>Hello <%= @resource.email %>!</p>

<p>To change your password, please use the the link below.</p>

<p><%= link_to 'Change my tagSurf password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>If you didn't request this, please ignore this email and contact us at beta@tagsurf.co</p>

<p>-tagSurf team</p>


