<% content_for :title do %>
  <title>tagSurf</title>
<% end %>

<% content_for :stylesheets do %>
  <link rel="icon" type="image/x-icon" href="img/favicon.ico"/>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/login.css">
<% end %>

<% content_for :javascripts do %>
  <script src="/js/login.js"></script>
<% end %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name) ) do |f| %>
  <center>
    <img id="tslogo" src="/img/ts_logo_stacked_gray.jpg"></img>
    <%#= f.email_field :email, :placeholder => 'email', :class => 'ts-input', :disabled => true %>
    <%#= f.password_field :password, :placeholder => 'password', :class => 'ts-input', :disabled => true %>
    <%#= f.password_field :password_confirmation, :placeholder => 'confirm password', :class => 'ts-input', :disabled => true %>
    <p>tagSurf is in private beta.</p>
    <p>Please email <%= mail_to 'beta@tagSurf.co', nil, class: 'ts-blue' %> for more information.</p>
    <%= link_to 'Log in', user_session_path, class: 'ts-blue' %>
  </center>
<% end %>
